@import "tailwindcss";

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

/* Smooth transitions */
* {
  transition: colors 200ms;
}
